@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

html {
  font-size: 14px;
  height: 100%;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "Prompt" !important;
  font-weight: 400 !important;
  color: #000;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

table tr td {
  font-weight: normal !important;
}

.ant-layout-sider-light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.ant-table-container table thead tr th {
  background-color: #219653;
  font-family: "Prompt" !important;
  font-weight: 500 !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}
.table-row-old td {
  background-color: #EA973E1A;
}
.table-row-older td {
  background-color: #EB57571A;
}
.table-row-lasted {
  background-color: rgb(255, 255, 255);
}
